@import "../_mixins"
@import "../_variables"

.card
    background-color: $text-color
    border-style: hidden
    height: 360px
    width: 250px
    text-align: left
    overflow: hidden
    border-radius: 10px
    margin: 15px 20px
    word-wrap: break-word
    white-space: normal
    word-break: break-word
    @include display-col
    @include tablets-and-down
        min-height: 300px
        min-width: 200px

    &-section-title
        margin-bottom: 0 !important
        padding-bottom: 0 !important

    &-title
        padding: 5px 10px
        color: $bg-color

    &-hr
        border: 0
        height: 2px
        background: $primary-color

    .card-text
        padding: 0px 10px
        color: $bg-color
        text-align: justify
        text-indent: 0.5em
        line-height: 1.25em
    img
        height: 160px
        width: 100%
        object-fit: cover
        position: relative
        transition: all 0.3s ease

.btn
    display: block
    border-style: hidden
    background: rgba(83, 83, 83, 0.4)
    color: $text-color

a.btn:hover
    background-color: $primary-color
    color: $text-color

.sections
    @include tablets-and-down
        margin-top: 11vw
    @include mobile-and-down
        margin-top: 15vh

.icon-card
    cursor: default
    margin: auto
